{
    "presets": [
        "@babel/preset-react",
        "@babel/preset-env"
    ],
    "plugins": [
        "transform-async-to-generator",
        "transform-object-rest-spread",
        "@babel/plugin-proposal-class-properties"
    ]
}
