.form-creator-and-form {
    height: inherit;
    width: 90%;
}

.form-creator-and-form form {
    background-color: #E7E8E8;
}

.form-creator-and-form .form-creator {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.form-creator-and-form .form-creator form {
    height: inherit;
    width: calc(100% - 40px);
    display: flex; 
    flex-direction: column;
    align-items: space-around;
    margin: 5px 0px;
    padding: 20px;
    background-color: #F6F6A6;
}

.form-creator-and-form .form-creator form .label-and-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.form-creator-and-form .form-creator .label-and-input.submit-button {
    display: flex;
    width: calc(100% - 20px);
    background-color: #F6F6A6;
    padding: 10px;
    margin: 5px;
}

.form-creator-and-form .form-creator .dropdown-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.fields-wrapper {
    display: flex;
    flex-direction: column;
}

.dropdown-options-buttons {
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.dropdown-options-buttons .add-new-option {
    position: absolute;
    left: 0;
}

.dropdown-option .label-and-option {
    display: flex;
    justify-content: flex-end;
    width: 90%;
    justify-content: space-between;
    align-items: center;
}