.main {
    display: flex; 
    flex-direction: column;
    height: 100vh;
    background-color: #EAFCFE;
}

.main .nav-bar {
    height: 10vh;
    background-color: #ACAAAF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.main .nav-bar img {
    height: 100%;
}

.main .routing-and-comps {
    display: flex;
    flex-direction: row;
    height: 90vh;
}

.routing-bar {
    background-color: #F69F6D;
    width: 10%;
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
}

.routing-bar a {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
}

.routing-bar a:hover {
    background-color: #F6A86D;
}

.components {
    height: 80%;
    width: 80%;
    align-self: center;
    margin: 0 auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: scroll;
}